In [1]:
import seaborn as sns
import pandas as pd
import zipfile
import numpy as np
import requests

In [4]:
x=requests.get('https://ies-python-midterm.s3.eu-central-1.amazonaws.com/studentsSets/XXXXXXX.zip')
x.status_code

403

In [2]:
x=requests.get('https://ies-python-midterm.s3.eu-central-1.amazonaws.com/studentsSets/23055687.zip')
with zipfile.ZipFile('./23055687.zip') as z:
    with z.open("data/CPRT.csv") as f:
        CPRT = pd.read_csv(f)
    with z.open("data/HIG.csv") as s:
        HIG = pd.read_csv(s)
    with z.open("data/IP.csv") as l:
        IP = pd.read_csv(l)
    with z.open("data/MTB.csv") as m:
        MTB = pd.read_csv(m)

In [3]:
CPRT

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,17.995001,17.850000,17.885000,17.940001,1173800.0,17.940001
1,2017-11-14,18.000000,17.825001,17.860001,17.940001,1121200.0,17.940001
2,2017-11-15,18.040001,17.820000,17.905001,17.975000,1366000.0,17.975000
3,2017-11-16,18.040001,17.915001,18.014999,17.969999,2217800.0,17.969999
4,2017-11-17,17.945000,17.719999,17.945000,17.775000,2589600.0,17.775000
...,...,...,...,...,...,...,...
1253,2022-11-04,58.060001,56.160000,57.330002,57.380001,1824800.0,57.380001
1254,2022-11-07,58.369999,57.029999,58.110001,57.090000,3284900.0,57.090000
1255,2022-11-08,57.930000,55.980000,57.430000,56.889999,2449400.0,56.889999
1256,2022-11-10,60.509998,58.560001,58.720001,60.459999,3288300.0,60.459999
1257,2022-11-11,61.869999,60.520000,60.529999,61.560001,1938900.0,61.560001

In [13]:
HIG

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,55.810001,55.259998,55.430000,55.689999,1721100.0,50.072018
1,2017-11-14,56.259998,55.430000,55.430000,56.220001,1820200.0,50.548561
2,2017-11-15,56.970001,55.790001,55.880001,56.669998,2386700.0,50.953156
3,2017-11-16,57.080002,55.880001,56.750000,56.009998,2145300.0,50.359737
4,2017-11-17,56.520000,55.549999,55.779999,56.139999,1443300.0,50.476627
...,...,...,...,...,...,...,...
1254,2022-11-07,74.220001,73.260002,74.160004,73.970001,1749900.0,73.970001
1255,2022-11-08,74.279999,72.949997,73.800003,73.500000,1557600.0,73.500000
1256,2022-11-09,73.370003,71.660004,73.300003,71.910004,1942900.0,71.910004
1257,2022-11-10,74.419998,73.050003,73.489998,74.300003,1624300.0,74.300003
1258,2022-11-11,75.099998,73.250000,74.910004,73.629997,1988900.0,73.629997

In [14]:
IP

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,51.789772,51.259472,51.676136,51.505684,2574634.0,42.139057
1,2017-11-14,51.543560,50.899620,50.946972,51.448864,1984541.0,42.484375
2,2017-11-15,51.571972,50.284092,51.107956,51.032196,1943885.0,42.140308
3,2017-11-16,51.581440,50.880684,51.212120,51.202652,2093731.0,42.281055
4,2017-11-17,51.496212,50.852272,51.070076,51.335228,1319683.0,42.390541
...,...,...,...,...,...,...,...
1254,2022-11-07,33.889999,33.220001,33.770000,33.590000,2525600.0,33.590000
1255,2022-11-08,33.849998,33.240002,33.750000,33.520000,3139800.0,33.520000
1256,2022-11-09,33.580002,33.060001,33.250000,33.220001,3172000.0,33.220001
1257,2022-11-10,35.160000,33.759998,34.090000,35.139999,4051600.0,35.139999
1258,2022-11-11,36.869999,35.189999,35.509998,36.630001,5183500.0,36.630001

In [15]:
MTB

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,159.770004,155.770004,156.259995,159.440002,1092800.0,140.850342
1,2017-11-14,161.190002,158.580002,158.580002,160.710007,505400.0,141.972275
2,2017-11-15,161.729996,158.990005,159.809998,161.220001,589400.0,142.422806
3,2017-11-16,162.779999,159.750000,161.729996,159.869995,514500.0,141.230194
4,2017-11-17,161.320007,158.289993,158.940002,160.570007,371400.0,141.848572
...,...,...,...,...,...,...,...
1254,2022-11-07,169.179993,166.300003,168.509995,168.970001,1019600.0,168.970001
1255,2022-11-08,171.839996,168.179993,168.740005,170.479996,980500.0,170.479996
1256,2022-11-09,170.279999,165.830002,169.169998,165.940002,991200.0,165.940002
1257,2022-11-10,171.449997,167.059998,169.830002,170.190002,1332500.0,170.190002
1258,2022-11-11,171.589996,163.850006,171.309998,166.199997,2264100.0,166.199997

In [76]:
frames = [CPRT, HIG, IP, MTB]

result = pd.concat(frames)

result = pd.concat(frames, keys=["CPRT", "HIG", "IP", "MTB"])
result

                 Date        High         Low        Open       Close  \
CPRT 0     2017-11-13   17.995001   17.850000   17.885000   17.940001
     1     2017-11-14   18.000000   17.825001   17.860001   17.940001
     2     2017-11-15   18.040001   17.820000   17.905001   17.975000
     3     2017-11-16   18.040001   17.915001   18.014999   17.969999
     4     2017-11-17   17.945000   17.719999   17.945000   17.775000
...               ...         ...         ...         ...         ...
MTB  1254  2022-11-07  169.179993  166.300003  168.509995  168.970001
     1255  2022-11-08  171.839996  168.179993  168.740005  170.479996
     1256  2022-11-09  170.279999  165.830002  169.169998  165.940002
     1257  2022-11-10  171.449997  167.059998  169.830002  170.190002
     1258  2022-11-11  171.589996  163.850006  171.309998  166.199997

              Volume   Adj Close
CPRT 0     1173800.0   17.940001
     1     1121200.0   17.940001
     2     1366000.0   17.975000
     3     2217800.0   17.969999
     4     2589600.0   17.775000
...              ...         ...
MTB  1254  1019600.0  168.970001
     1255   980500.0  170.479996
     1256   991200.0  165.940002
     1257  1332500.0  170.190002
     1258  2264100.0  166.199997

[5035 rows x 7 columns]

In [28]:
result['Close']==result['Adj Close']
# There no difference between Close and Adj Close column
# While the closing price simply refers to the value of the stock at the end of the day, the adjusted closing price takes into account other factors such as dividends, stock splits, and the placement of new shares. Since the adjusted closing price starts where the closing price ends, it can be called a more accurate indicator of the value of shares.

CPRT  0       True
      1       True
      2       True
      3       True
      4       True
              ...
MTB   1254    True
      1255    True
      1256    True
      1257    True
      1258    True
Length: 5035, dtype: bool

In [31]:
result['Adj Close'].max()

191.41000366210935

In [32]:
CPRT['Adj Close'].max()

79.55000305175781

In [34]:
CPRT['Adj Close'].min()

17.774999618530273

In [59]:
CPRT['Adj Close'].mean()

46.11088633423579

In [60]:
CPRT['Adj Close'].median()

44.977500915527344

In [35]:
HIG['Adj Close'].max()

75.3499984741211

In [36]:
HIG['Adj Close'].min()

24.926820755004883

In [61]:
HIG['Adj Close'].mean()

53.60467561717257

In [62]:
HIG['Adj Close'].median()

51.01893615722656

In [37]:
IP['Adj Close'].max()

59.512168884277344

In [38]:
IP['Adj Close'].min()

22.884174346923828

In [63]:
IP['Adj Close'].mean()

41.39267426658188

In [64]:
IP['Adj Close'].median()

41.61000061035156

In [39]:
MTB['Adj Close'].max()

191.41000366210935

In [40]:
MTB['Adj Close'].min()

82.45121765136719

In [65]:
MTB['Adj Close'].mean()

146.1790916921602

In [66]:
MTB['Adj Close'].median()

151.56175231933594

In [79]:
#Instead of idxmax
CPRTw = CPRT['Low']-CPRT['High']
CPRTw.max()

-0.11499977111816051

In [87]:
e = CPRT.drop(CPRT.columns[[3,4,5,6]], axis=1)
e[CPRTw==CPRTw.max()]

          Date       High        Low
28  2017-12-22  21.735001  21.620001

In [81]:
HIGw = HIG['Low']-HIG['High']
HIGw.max()

-0.25

In [86]:
c = HIG.drop(HIG.columns[[3,4,5,6]], axis=1)
c[HIGw==HIGw.max()]

           Date   High    Low
531  2019-12-24  60.18  59.93

In [83]:
IPw = IP['Low']-HIG['High']
IPw.max()

5.691516876220703

In [88]:
w = IP.drop(IP.columns[[3,4,5,6]], axis=1)
w[IPw==IPw.max()]

           Date       High        Low
737  2020-10-19  44.535984  43.901516

In [85]:
MTBw = MTB['Low']-MTB['High']
MTBw.max()

-1.05999755859375

In [89]:
p = MTB.drop(MTB.columns[[3,4,5,6]], axis=1)
p[MTBw==MTBw.max()]

          Date        High         Low
31  2017-12-28  172.330002  171.270004

In [100]:
CPRTa=CPRT.drop(result.columns[[1,2,3,4,6]], axis=1)
CPRTa['Datetime'] = pd.to_datetime(CPRT.Date)    
tt = CPRTa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()
tt

C:\Users\Дастан\AppData\Local\Temp\ipykernel_4588\1714301236.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  tt = CPRTa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()

Empty DataFrame
Columns: []
Index: [(2017-11-13 00:00:00, 1121200.0), (2017-11-13 00:00:00, 1173800.0), (2017-11-13 00:00:00, 1366000.0), (2017-11-13 00:00:00, 2217800.0), (2017-11-13 00:00:00, 2589600.0), (2017-11-20 00:00:00, 2589800.0), (2017-11-20 00:00:00, 2667400.0), (2017-11-20 00:00:00, 3339800.0), (2017-11-20 00:00:00, 7599000.0), (2017-11-27 00:00:00, 3135000.0), (2017-11-27 00:00:00, 3139800.0), (2017-11-27 00:00:00, 3252000.0), (2017-11-27 00:00:00, 3282800.0), (2017-11-27 00:00:00, 3896200.0), (2017-12-04 00:00:00, 1806800.0), (2017-12-04 00:00:00, 2258400.0), (2017-12-04 00:00:00, 3043400.0), (2017-12-04 00:00:00, 3595800.0), (2017-12-04 00:00:00, 3796200.0), (2017-12-11 00:00:00, 1686200.0), (2017-12-11 00:00:00, 1715200.0), (2017-12-11 00:00:00, 2704600.0), (2017-12-11 00:00:00, 2745400.0), (2017-12-11 00:00:00, 3434400.0), (2017-12-18 00:00:00, 1985800.0), (2017-12-18 00:00:00, 1990400.0), (2017-12-18 00:00:00, 2330200.0), (2017-12-18 00:00:00, 2603200.0), (2017-12-18 00:00:00, 2641600.0), (2017-12-25 00:00:00, 1202400.0), (2017-12-25 00:00:00, 1628200.0), (2017-12-25 00:00:00, 1689400.0), (2017-12-25 00:00:00, 1847400.0), (2018-01-01 00:00:00, 1724000.0), (2018-01-01 00:00:00, 1849200.0), (2018-01-01 00:00:00, 2312800.0), (2018-01-01 00:00:00, 2336000.0), (2018-01-08 00:00:00, 1551200.0), (2018-01-08 00:00:00, 2055400.0), (2018-01-08 00:00:00, 2238800.0), (2018-01-08 00:00:00, 2252000.0), (2018-01-08 00:00:00, 2508400.0), (2018-01-15 00:00:00, 1333800.0), (2018-01-15 00:00:00, 1650600.0), (2018-01-15 00:00:00, 2543400.0), (2018-01-15 00:00:00, 2588200.0), (2018-01-22 00:00:00, 1050800.0), (2018-01-22 00:00:00, 1735800.0), (2018-01-22 00:00:00, 2062800.0), (2018-01-22 00:00:00, 2184400.0), (2018-01-22 00:00:00, 2187600.0), (2018-01-29 00:00:00, 1008800.0), (2018-01-29 00:00:00, 1522400.0), (2018-01-29 00:00:00, 1649000.0), (2018-01-29 00:00:00, 1756200.0), (2018-01-29 00:00:00, 2105000.0), (2018-02-05 00:00:00, 1400400.0), (2018-02-05 00:00:00, 2147800.0), (2018-02-05 00:00:00, 2556200.0), (2018-02-05 00:00:00, 2726200.0), (2018-02-05 00:00:00, 3294400.0), (2018-02-12 00:00:00, 2855400.0), (2018-02-12 00:00:00, 3069200.0), (2018-02-12 00:00:00, 3159400.0), (2018-02-12 00:00:00, 4187400.0), (2018-02-12 00:00:00, 4524600.0), (2018-02-19 00:00:00, 2882000.0), (2018-02-19 00:00:00, 3341800.0), (2018-02-19 00:00:00, 4268200.0), (2018-02-19 00:00:00, 7668000.0), (2018-02-26 00:00:00, 2723000.0), (2018-02-26 00:00:00, 2910000.0), (2018-02-26 00:00:00, 4379000.0), (2018-02-26 00:00:00, 4587200.0), (2018-02-26 00:00:00, 5925400.0), (2018-03-05 00:00:00, 2789800.0), (2018-03-05 00:00:00, 2821200.0), (2018-03-05 00:00:00, 3579200.0), (2018-03-05 00:00:00, 4261600.0), (2018-03-05 00:00:00, 6653600.0), (2018-03-12 00:00:00, 1710600.0), (2018-03-12 00:00:00, 2231000.0), (2018-03-12 00:00:00, 3315000.0), (2018-03-12 00:00:00, 3613600.0), (2018-03-12 00:00:00, 3659000.0), (2018-03-19 00:00:00, 1602000.0), (2018-03-19 00:00:00, 1676400.0), (2018-03-19 00:00:00, 1878200.0), (2018-03-19 00:00:00, 2068800.0), (2018-03-19 00:00:00, 2453400.0), (2018-03-26 00:00:00, 2184000.0), (2018-03-26 00:00:00, 2588000.0), (2018-03-26 00:00:00, 3186400.0), (2018-03-26 00:00:00, 3355800.0), (2018-04-02 00:00:00, 2004400.0), (2018-04-02 00:00:00, 2339200.0), (2018-04-02 00:00:00, 2387800.0), (2018-04-02 00:00:00, 3074800.0), (2018-04-02 00:00:00, 3155200.0), (2018-04-09 00:00:00, 1331600.0), ...]

[1258 rows x 0 columns]

In [101]:
HIGa=HIG.drop(result.columns[[1,2,3,4,6]], axis=1)
HIGa['Datetime'] = pd.to_datetime(HIG.Date)    
tt = HIGa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()
tt

C:\Users\Дастан\AppData\Local\Temp\ipykernel_4588\483488842.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  tt = HIGa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()

Empty DataFrame
Columns: []
Index: [(2017-11-13 00:00:00, 1443300.0), (2017-11-13 00:00:00, 1721100.0), (2017-11-13 00:00:00, 1820200.0), (2017-11-13 00:00:00, 2145300.0), (2017-11-13 00:00:00, 2386700.0), (2017-11-20 00:00:00, 435600.0), (2017-11-20 00:00:00, 1129200.0), (2017-11-20 00:00:00, 1321000.0), (2017-11-20 00:00:00, 2225800.0), (2017-11-27 00:00:00, 1064400.0), (2017-11-27 00:00:00, 1682300.0), (2017-11-27 00:00:00, 1754700.0), (2017-11-27 00:00:00, 2099600.0), (2017-11-27 00:00:00, 2413700.0), (2017-12-04 00:00:00, 2062900.0), (2017-12-04 00:00:00, 2172000.0), (2017-12-04 00:00:00, 3541400.0), (2017-12-04 00:00:00, 4029300.0), (2017-12-04 00:00:00, 4893800.0), (2017-12-11 00:00:00, 2123200.0), (2017-12-11 00:00:00, 2633900.0), (2017-12-11 00:00:00, 2670300.0), (2017-12-11 00:00:00, 3273700.0), (2017-12-11 00:00:00, 4792500.0), (2017-12-18 00:00:00, 1689400.0), (2017-12-18 00:00:00, 2187900.0), (2017-12-18 00:00:00, 2499000.0), (2017-12-18 00:00:00, 2977200.0), (2017-12-18 00:00:00, 3612900.0), (2017-12-25 00:00:00, 839800.0), (2017-12-25 00:00:00, 856800.0), (2017-12-25 00:00:00, 935600.0), (2017-12-25 00:00:00, 976000.0), (2018-01-01 00:00:00, 1132400.0), (2018-01-01 00:00:00, 1568100.0), (2018-01-01 00:00:00, 1593400.0), (2018-01-01 00:00:00, 3156900.0), (2018-01-08 00:00:00, 1374100.0), (2018-01-08 00:00:00, 1660800.0), (2018-01-08 00:00:00, 1891000.0), (2018-01-08 00:00:00, 2313800.0), (2018-01-08 00:00:00, 2571600.0), (2018-01-15 00:00:00, 1754600.0), (2018-01-15 00:00:00, 1768600.0), (2018-01-15 00:00:00, 2112800.0), (2018-01-15 00:00:00, 2271500.0), (2018-01-22 00:00:00, 2419600.0), (2018-01-22 00:00:00, 2519500.0), (2018-01-22 00:00:00, 2521400.0), (2018-01-22 00:00:00, 3924000.0), (2018-01-22 00:00:00, 3943700.0), (2018-01-29 00:00:00, 1782400.0), (2018-01-29 00:00:00, 2281900.0), (2018-01-29 00:00:00, 2346200.0), (2018-01-29 00:00:00, 2377500.0), (2018-01-29 00:00:00, 2424300.0), (2018-02-05 00:00:00, 2411800.0), (2018-02-05 00:00:00, 3616700.0), (2018-02-05 00:00:00, 3656300.0), (2018-02-05 00:00:00, 4041100.0), (2018-02-05 00:00:00, 4162100.0), (2018-02-12 00:00:00, 1715700.0), (2018-02-12 00:00:00, 1952600.0), (2018-02-12 00:00:00, 2543200.0), (2018-02-12 00:00:00, 3342100.0), (2018-02-12 00:00:00, 3752000.0), (2018-02-19 00:00:00, 1653100.0), (2018-02-19 00:00:00, 2133900.0), (2018-02-19 00:00:00, 2427600.0), (2018-02-19 00:00:00, 2933000.0), (2018-02-26 00:00:00, 1673800.0), (2018-02-26 00:00:00, 1865900.0), (2018-02-26 00:00:00, 2399700.0), (2018-02-26 00:00:00, 2443800.0), (2018-02-26 00:00:00, 2719100.0), (2018-03-05 00:00:00, 1721900.0), (2018-03-05 00:00:00, 3103500.0), (2018-03-05 00:00:00, 3619100.0), (2018-03-05 00:00:00, 3671500.0), (2018-03-05 00:00:00, 5545300.0), (2018-03-12 00:00:00, 1843500.0), (2018-03-12 00:00:00, 1859300.0), (2018-03-12 00:00:00, 1880400.0), (2018-03-12 00:00:00, 2349900.0), (2018-03-12 00:00:00, 2937800.0), (2018-03-19 00:00:00, 1741900.0), (2018-03-19 00:00:00, 1772600.0), (2018-03-19 00:00:00, 1925700.0), (2018-03-19 00:00:00, 1938700.0), (2018-03-19 00:00:00, 2316200.0), (2018-03-26 00:00:00, 1909800.0), (2018-03-26 00:00:00, 2243300.0), (2018-03-26 00:00:00, 2586100.0), (2018-03-26 00:00:00, 2830600.0), (2018-04-02 00:00:00, 1633400.0), (2018-04-02 00:00:00, 1932200.0), (2018-04-02 00:00:00, 2304700.0), (2018-04-02 00:00:00, 2395400.0), (2018-04-02 00:00:00, 2567300.0), (2018-04-09 00:00:00, 988800.0), ...]

[1259 rows x 0 columns]

In [102]:
IPa=IP.drop(result.columns[[1,2,3,4,6]], axis=1)
IPa['Datetime'] = pd.to_datetime(IP.Date)    
tt = IPa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()
tt

C:\Users\Дастан\AppData\Local\Temp\ipykernel_4588\3999140830.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  tt = IPa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()

Empty DataFrame
Columns: []
Index: [(2017-11-13 00:00:00, 1319683.0), (2017-11-13 00:00:00, 1943885.0), (2017-11-13 00:00:00, 1984541.0), (2017-11-13 00:00:00, 2093731.0), (2017-11-13 00:00:00, 2574634.0), (2017-11-20 00:00:00, 598752.0), (2017-11-20 00:00:00, 1146605.0), (2017-11-20 00:00:00, 1271002.0), (2017-11-20 00:00:00, 2131747.0), (2017-11-27 00:00:00, 1690762.0), (2017-11-27 00:00:00, 2435136.0), (2017-11-27 00:00:00, 2446858.0), (2017-11-27 00:00:00, 2965037.0), (2017-11-27 00:00:00, 3001680.0), (2017-12-04 00:00:00, 1266883.0), (2017-12-04 00:00:00, 1374701.0), (2017-12-04 00:00:00, 1455274.0), (2017-12-04 00:00:00, 2424365.0), (2017-12-04 00:00:00, 2597232.0), (2017-12-11 00:00:00, 1681574.0), (2017-12-11 00:00:00, 2358259.0), (2017-12-11 00:00:00, 2726698.0), (2017-12-11 00:00:00, 2780870.0), (2017-12-11 00:00:00, 5141981.0), (2017-12-18 00:00:00, 1298669.0), (2017-12-18 00:00:00, 1548730.0), (2017-12-18 00:00:00, 1941562.0), (2017-12-18 00:00:00, 3066096.0), (2017-12-18 00:00:00, 3274550.0), (2017-12-25 00:00:00, 969302.0), (2017-12-25 00:00:00, 1069939.0), (2017-12-25 00:00:00, 1376074.0), (2017-12-25 00:00:00, 1657392.0), (2018-01-01 00:00:00, 1829098.0), (2018-01-01 00:00:00, 2705789.0), (2018-01-01 00:00:00, 2886893.0), (2018-01-01 00:00:00, 3355651.0), (2018-01-08 00:00:00, 1307539.0), (2018-01-08 00:00:00, 1416624.0), (2018-01-08 00:00:00, 2351290.0), (2018-01-08 00:00:00, 2591846.0), (2018-01-08 00:00:00, 2627222.0), (2018-01-15 00:00:00, 1633632.0), (2018-01-15 00:00:00, 1944096.0), (2018-01-15 00:00:00, 3301267.0), (2018-01-15 00:00:00, 4694237.0), (2018-01-22 00:00:00, 1688861.0), (2018-01-22 00:00:00, 1825507.0), (2018-01-22 00:00:00, 1875984.0), (2018-01-22 00:00:00, 2084016.0), (2018-01-22 00:00:00, 3307603.0), (2018-01-29 00:00:00, 2567875.0), (2018-01-29 00:00:00, 3973622.0), (2018-01-29 00:00:00, 4462973.0), (2018-01-29 00:00:00, 4541856.0), (2018-01-29 00:00:00, 5160566.0), (2018-02-05 00:00:00, 3564317.0), (2018-02-05 00:00:00, 3678470.0), (2018-02-05 00:00:00, 3937930.0), (2018-02-05 00:00:00, 4088198.0), (2018-02-05 00:00:00, 4557485.0), (2018-02-12 00:00:00, 2144314.0), (2018-02-12 00:00:00, 2365862.0), (2018-02-12 00:00:00, 2475792.0), (2018-02-12 00:00:00, 2723318.0), (2018-02-12 00:00:00, 3025546.0), (2018-02-19 00:00:00, 1573862.0), (2018-02-19 00:00:00, 2410003.0), (2018-02-19 00:00:00, 2417606.0), (2018-02-19 00:00:00, 2966938.0), (2018-02-26 00:00:00, 1611667.0), (2018-02-26 00:00:00, 1934803.0), (2018-02-26 00:00:00, 2040086.0), (2018-02-26 00:00:00, 2369347.0), (2018-02-26 00:00:00, 2490682.0), (2018-03-05 00:00:00, 2105136.0), (2018-03-05 00:00:00, 3799382.0), (2018-03-05 00:00:00, 4094534.0), (2018-03-05 00:00:00, 4707014.0), (2018-03-05 00:00:00, 7895501.0), (2018-03-12 00:00:00, 2676221.0), (2018-03-12 00:00:00, 3024490.0), (2018-03-12 00:00:00, 3163248.0), (2018-03-12 00:00:00, 3527251.0), (2018-03-12 00:00:00, 4213123.0), (2018-03-19 00:00:00, 2977392.0), (2018-03-19 00:00:00, 3038957.0), (2018-03-19 00:00:00, 3108336.0), (2018-03-19 00:00:00, 3161242.0), (2018-03-19 00:00:00, 3365366.0), (2018-03-26 00:00:00, 2954477.0), (2018-03-26 00:00:00, 3032198.0), (2018-03-26 00:00:00, 3617117.0), (2018-03-26 00:00:00, 4835530.0), (2018-04-02 00:00:00, 2470723.0), (2018-04-02 00:00:00, 3004954.0), (2018-04-02 00:00:00, 3120269.0), (2018-04-02 00:00:00, 3446784.0), (2018-04-02 00:00:00, 3467693.0), (2018-04-09 00:00:00, 1386528.0), ...]

[1259 rows x 0 columns]

In [104]:
MTBa=MTB.drop(result.columns[[1,2,3,4,6]], axis=1)
MTBa['Datetime'] = pd.to_datetime(MTB.Date)    
tt = MTBa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()
tt

C:\Users\Дастан\AppData\Local\Temp\ipykernel_4588\2935645109.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  tt = MTBa.groupby([pd.Grouper(key='Datetime', freq="7d"),'Volume']).mean()

Empty DataFrame
Columns: []
Index: [(2017-11-13 00:00:00, 371400.0), (2017-11-13 00:00:00, 505400.0), (2017-11-13 00:00:00, 514500.0), (2017-11-13 00:00:00, 589400.0), (2017-11-13 00:00:00, 1092800.0), (2017-11-20 00:00:00, 180700.0), (2017-11-20 00:00:00, 291100.0), (2017-11-20 00:00:00, 409800.0), (2017-11-20 00:00:00, 596000.0), (2017-11-27 00:00:00, 361900.0), (2017-11-27 00:00:00, 699200.0), (2017-11-27 00:00:00, 758300.0), (2017-11-27 00:00:00, 766800.0), (2017-11-27 00:00:00, 1075600.0), (2017-12-04 00:00:00, 401700.0), (2017-12-04 00:00:00, 436800.0), (2017-12-04 00:00:00, 463800.0), (2017-12-04 00:00:00, 598000.0), (2017-12-04 00:00:00, 846600.0), (2017-12-11 00:00:00, 479200.0), (2017-12-11 00:00:00, 514200.0), (2017-12-11 00:00:00, 658300.0), (2017-12-11 00:00:00, 945800.0), (2017-12-11 00:00:00, 1478000.0), (2017-12-18 00:00:00, 332200.0), (2017-12-18 00:00:00, 444500.0), (2017-12-18 00:00:00, 612800.0), (2017-12-18 00:00:00, 624400.0), (2017-12-18 00:00:00, 779700.0), (2017-12-25 00:00:00, 224200.0), (2017-12-25 00:00:00, 308200.0), (2017-12-25 00:00:00, 364600.0), (2017-12-25 00:00:00, 414100.0), (2018-01-01 00:00:00, 424000.0), (2018-01-01 00:00:00, 437600.0), (2018-01-01 00:00:00, 549700.0), (2018-01-01 00:00:00, 628300.0), (2018-01-08 00:00:00, 342000.0), (2018-01-08 00:00:00, 439600.0), (2018-01-08 00:00:00, 488900.0), (2018-01-08 00:00:00, 539100.0), (2018-01-08 00:00:00, 549900.0), (2018-01-15 00:00:00, 607900.0), (2018-01-15 00:00:00, 749600.0), (2018-01-15 00:00:00, 824800.0), (2018-01-15 00:00:00, 1397000.0), (2018-01-22 00:00:00, 434400.0), (2018-01-22 00:00:00, 597500.0), (2018-01-22 00:00:00, 637900.0), (2018-01-22 00:00:00, 649400.0), (2018-01-22 00:00:00, 991900.0), (2018-01-29 00:00:00, 568300.0), (2018-01-29 00:00:00, 571500.0), (2018-01-29 00:00:00, 614700.0), (2018-01-29 00:00:00, 633100.0), (2018-01-29 00:00:00, 649800.0), (2018-02-05 00:00:00, 512100.0), (2018-02-05 00:00:00, 813500.0), (2018-02-05 00:00:00, 1000600.0), (2018-02-05 00:00:00, 1093400.0), (2018-02-05 00:00:00, 1422000.0), (2018-02-12 00:00:00, 671200.0), (2018-02-12 00:00:00, 711100.0), (2018-02-12 00:00:00, 763200.0), (2018-02-12 00:00:00, 783200.0), (2018-02-12 00:00:00, 821800.0), (2018-02-19 00:00:00, 524700.0), (2018-02-19 00:00:00, 642700.0), (2018-02-19 00:00:00, 807700.0), (2018-02-19 00:00:00, 845900.0), (2018-02-26 00:00:00, 506400.0), (2018-02-26 00:00:00, 654600.0), (2018-02-26 00:00:00, 660300.0), (2018-02-26 00:00:00, 746700.0), (2018-02-26 00:00:00, 831600.0), (2018-03-05 00:00:00, 532600.0), (2018-03-05 00:00:00, 556100.0), (2018-03-05 00:00:00, 594500.0), (2018-03-05 00:00:00, 663800.0), (2018-03-05 00:00:00, 805000.0), (2018-03-12 00:00:00, 406000.0), (2018-03-12 00:00:00, 473800.0), (2018-03-12 00:00:00, 476400.0), (2018-03-12 00:00:00, 631000.0), (2018-03-12 00:00:00, 1298900.0), (2018-03-19 00:00:00, 419000.0), (2018-03-19 00:00:00, 482100.0), (2018-03-19 00:00:00, 635900.0), (2018-03-19 00:00:00, 906200.0), (2018-03-19 00:00:00, 958100.0), (2018-03-26 00:00:00, 511100.0), (2018-03-26 00:00:00, 578600.0), (2018-03-26 00:00:00, 819500.0), (2018-03-26 00:00:00, 861600.0), (2018-04-02 00:00:00, 498400.0), (2018-04-02 00:00:00, 506900.0), (2018-04-02 00:00:00, 537900.0), (2018-04-02 00:00:00, 586500.0), (2018-04-02 00:00:00, 641500.0), (2018-04-09 00:00:00, 424700.0), ...]

[1258 rows x 0 columns]

In [108]:
# PART 2

In [142]:
partii = pd.read_csv('./companies_no_subindustry.csv')
partii.sort_index()

,Symbol,Security,GICS Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981
...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",06.10.1997,1997
499,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",23.12.2019,1969
500,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",07.08.2001,1927
501,ZION,Zions Bancorporation,Financials,"Salt Lake City, Utah",22.06.2001,1873
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",21.06.2013,1952

In [131]:
partii=partii.set_index(['Symbol'])
partii

,Security,GICS Sector,hq,included,Founded
Symbol,,,,,
MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981
...,...,...,...,...,...
YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",06.10.1997,1997
ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",23.12.2019,1969
ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",07.08.2001,1927
ZION,Zions Bancorporation,Financials,"Salt Lake City, Utah",22.06.2001,1873
ZTS,Zoetis,Health Care,"Parsippany, New Jersey",21.06.2013,1952

In [132]:
partii['included']==partii['included']

Symbol
MMM     True
AOS     True
ABT     True
ABBV    True
ABMD    True
        ...
YUM     True
ZBRA    True
ZBH     True
ZION    True
ZTS     True
Name: included, Length: 503, dtype: bool